body {
    background-color: #f1faee;
}

header h1 {
    padding-top: 50px;
    text-align: center;
    font: 50px Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

nav {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
 /*Refered to w3schools because my background color was not showing*/
nav ul {
    overflow: hidden;
    list-style-type: none;
    background-color: #fca311;
    border: 1px solid black;
    border-radius: 8px;
}

nav ul li {
    float: left;
    padding-left: 10px;
}

nav ul li a {
    padding: 10px 10px;
    font-size: 25px;
    text-decoration: none;
    display: block;
    color: #ffffff;
}

nav ul li a:hover {
    background-color: #1d3557;
}
ul{
    padding-left: 40px;
    list-style-type: square;
}
ul li{
    font:30px sans-serif;
}
.container {
    margin: auto;
    margin-bottom: 100px;
    width: 80%;
    height: 100%;
    background-color: #a8dadc;
    box-shadow: 0 0 6px #000;
    text-shadow: 2px 2px 8px  #f17575;
}

p{
    font: 30px sans-serif;
    margin-left: 15px;
}
ol{
    list-style-type: decimal;
    padding-left: 50px;
    
}
ol li{
    font:30px sans-serif;
}

#intro-header {
    padding-top: 50px;
    font:bold 40px sans-serif;
    
    margin-left: 15px;
}
